{% extends 'base.html.twig' %}

{% block title %}Our posts{% endblock %}

{% block body %}
    <h1>Our posts</h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for item in posts %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ item.image }}" alt="{{ item.title }}" class="card-img-top img-fluid" height="225" width="100%">
                    <div class="card-body">
                        <p class="card-text">{{ item.content ? item.content|slice(0, 30) : ''}}...</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href={{ path('app_post_show', { 'ref': item.ref }) }} class="btn btn-sm btn-outline-primary">{{ ux_icon('tabler:book', { 'class': 'h-1 w-1' }) }} Read</a>
                                {% if app.user == item.user %} 
                                    <a href={{ path('app_post_edit', {'ref' : item.ref}) }} class="btn btn-sm btn-outline-primary">{{ ux_icon('mdi:pencil', { 'class': 'h-1 w-1' }) }} Edit</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        {% else %}
            <span colspan="7">no records found</span>
        {% endfor %}
        <div class="navigation my-6 w-100">
            {{ knp_pagination_render(posts) }}
        </div>
{% endblock %}
